<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviudor con express y socke io</title>
</head>
<body>
   <div><h1> esta es la hoja original</h1>
<div id="welcome"></div>
<div id="codigo"></div>
<div id="hola"></div>
<button id="consulta">consulta</button>
<div>
el resultado es <span id="resultado"></span>
</div>
<div><button id="saludar">Saludar</button></div>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/main.js">
      
    </script>
</body>
</html>